*{
    margin: 0;
    padding: 0;
    outline: none;
}
html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    color: khaki;
    background-color: #f7f7f7;
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
    line-height: 135%;
}
/*Посилання*/
a{
    color: rgb(15, 56, 51);
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}
a:hover{
    color: purple;
    text-decoration: none ;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}
a:active{
    color: rgb(8, 41, 129);
}

/*Селекційні блоки*/
::selection{
    background: #00ccff;
    color: rgb(255, 255, 255);
}
::-moz-selection{
    background: #006eff;
    color: rgb(255, 255, 255);
}
img{
    max-width: 100%;
    height: auto;
    width: auto\9;
}
hr{
    display: block;
    border: 0;
    height: 1px;
    border-top: 1px solid silver;
    padding: 0;
}
/*Шапка*/
header, footer{
    width: 98%;
    background-color: white;
    min-height: 10px;
    display: flex;
}
header{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid silver;
    padding: 1%;
}
#left{
    display: flex;
}
#right{
    display: flex;
}
#logo{
    font-size: 2em;
    font-family: Comic Sans MS, sans-serif;
    color: silver;
}
.contact{
    font-size: 1.5em;
    font-family: Comic Sans MS, sans-serif;
    margin-left: 20px;
}
.right{
    display: flex; 
    justify-content: flex-end;
}
.left{
    display: flex; 
    justify-content: left;
    color: black;
}
.clear {clear: both;}
input[type=text].field{
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    margin-left: 20px;
}
input[type=text].field:focus{
    border: 2px solid purple;
}
/*Меню*/
#menu{
    color: red;
    font-family: Comic Sans MS, sans-serif;
    font-size: 1.7em;
}
#menu hr{
    width: 500px;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;

}
#menuHrefs a{
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    color: rgb(88, 54, 119);
}
#menuHrefs a:hover{
    background-color: rgb(169, 169, 169);
}

#menuHrefs a:hover{
    color: rgb(21, 83, 177);
}
/*Основні стилі*/

#wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}
#wrapper #articles{
    display: flex;
    justify-content: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
}
#wrapper #articles article{
    display: flex;
    flex-direction: column;
    width: 31.33333%;
    border: 1px solid silver;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-right: 2%;
    min-height: 400px;
}
#wrapper #articles article img{
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid silver;
}
#wrapper #articles article h2{
    text-align: center;
    width: 90%;
    margin-left: 5%;
    font-weight: normal;
    font-size: 1.7em;
    color: #4a4a4a;
}
#wrapper #articles article p{
    text-align: justify;
    width: 80%;
    margin-left: 10%;
    color: black;
    text-indent: 1em;
}
#wrapper #articles article a{
    padding: 5px 3px;
    background-color: #006eff;
    color: black;
    margin-left: 5%;
    display: flex;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
}
#wrapper #articles article a:hover{
    background-color: aquamarine;
    color: #3cff00;
}
/*Центральный блок нашего сайта*/
#main_soc_block{
    width: 100%;
    padding: 2% 0;
    border-bottom: 2px solid  black;
    border-top: 2px solid black;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/galaxy.jpg") repeat-x center 0;
    height: 200px;
}
#main_soc_block_in{
    border: 1px;
    text-align: center;
    border: 1px solid silver;
    background-color: rgba(255, 228, 196, 0.192);
    color: black;  
    padding: 10px;
    border-radius: 10px;
}
#main_soc_block_in h3{
    font-weight: bolder;
}
#main_soc_block_in a{
    background-color: rgb(210, 105, 30);
    color: rgb(87, 87, 87);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
    border: none;
}
#main_soc_block_in a:hover{
    background-color:rgb(210, 80, 30);;
    color: rgb(255, 255, 255);
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}
/*Про нас*/
#wrapper #articles #about{
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: left;
    background-color: rgb(187, 187, 187);
    border-radius: 8px;
    border: 1px solid silver;
    box-sizing: border-box;
    color: black;
    padding: 1%;
    margin-left: 15%;
    position: relative;
    bottom: 450px;

}
/*Для странички обратная связь*/
/*Для форми*/
#Answer{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#Answer h2{
    position: relative;
    top: -15px;
    text-align: center;
    color: black;
    font-weight: bolder;
}
#GoMessege{
    width: 30%;
    
    margin-left: 35%;
    display: flex;
    padding: 5px;
    margin-top: 15px;
    justify-content: center;
}
#GoMessege a{
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: #d8d8d8;
}
#GoMessege a:hover{
    background-color: rgb(152, 153, 153);
    color: white;
}
form {
    width: 80%;
    justify-content: center;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    color: black;
}
form label{
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    font-weight: bolder;
}
form input{
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
}
form input:focus{
    border: 2px solid purple;
}
form textarea{
    margin-left: 40px;
    border-radius: 6px;
    padding: 5px;
    height: 150px;
    width: 80%;
    border: 2px solid silver;
}
form textarea:focus{
    border: 2px solid gold;
}
#Mess label{
    margin-left: 40px;
}
/*Футер*/
footer{
    border-top: 2px solid silver;
    margin-top: 10px;
    padding: 1%;  
    padding-bottom: 2%; 
    justify-content: space-between;
}
#page-wrap:after{
    content: "";
    display: block;
}

footer, #page-wrap:after {height: 10px;}

#page-wrap{
    min-height: 92%;
    margin-bottom: -10px;
}
.social{
    display: flex;
    margin-right: 10px;
}
.social a{
    width: 32px;
    height: 32px;
}